{% extends 'base.html' %} {% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                    <li class="breadcrumb-item active">Excluir</li>
                </ol>
            </div>
            <h4 class="page-title">Confirmar Exclusão</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Excluir {{ parametro.nome }}?</h4>

                <div class="row">
                    <div class="col-md-12">
                    <p class="text-danger">Esta exclusão é permanente e não poderá ser revertida!</p>
                    <form method='POST'>
                    {% csrf_token %}

                        <div class="alert alert-danger" role="alert">
                            <i class="mdi mdi-block-helper mr-2"></i> Você realmente deseja <strong>Excluir</strong> {{ parametro.nome }}? 
                        </div>

                        <button type="submit" class="btn btn-danger waves-effect waves-light">Excluir</button>
                    </form>
                        
                    </div>
                </div> <!-- end row-->

            </div>
        </div>
    </div>
</div>
<!-- end row -->



{% endblock%}